<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <h2>Hi welcome to Admin Page!</h2>
    <form method="post" action="/admin/projects">
        <input type="text" placeholder="Project Name" name="project" required><br>
        <input type="textarea" placeholder="description" name = "description"><br>
        <input type="url" placeholder="github links" name="github" required><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>